<header class="topbar">

    <div class="topbar-left">

        <div class="brand">

            <div class="brand-icon">
                <i class="pi pi-bolt"></i>
            </div>

            <span class="brand-name">
                Hubrix
            </span>

        </div>

    </div>


    <div class="topbar-right">

        <button
            type="button"
            class="topbar-button"
            aria-label="Notifiche">

            <i class="pi pi-bell"></i>

        </button>


        <button
            type="button"
            class="topbar-button user-button"
            aria-label="Profilo utente">

            <i class="pi pi-user"></i>

            <span class="user-name">
                Daniele
            </span>

        </button>

    </div>

</header>